* {
  font-family: 'Quicksand', sans-serif;
  /* font-size: 20px; */
}

/* .btn-bar {
  display: ;
} */

.previous-btn {
  display: inline;
  /* width: 75px; */
}

.next-btn {
  display: inline;
  float: right;
  width: 90px;
}

.containerTwo {
  /* height: 35vh; */
  position: fixed;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  margin: 10px;
  background-color: rgb(247, 247, 247);
  border-radius: .25em;
  /* z-index: 2; */
}


.questionTitle {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}

.questionContent {
  margin: 20px; 
  text-align: center;  
  border-radius: 15px;
  border-width: 2px;
  text-shadow: 0 0 3px white;  font-size: 16px;
}

#answerBox {
  height: 80px;
  text-align: center;
  display: flex;
  border-radius: 15px;
}

.divider {
  border-top: 1px solid grey;
  width: 90vw;
  margin: 30px auto;
  border-radius: 100px;
  /* box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.541); */
}

.control {
  display: flex;
  justify-content: center;
  margin: 0 20px;
}

.input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  align-self: flex-end;
}

/* .button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
} */

.submit-btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.hintBox {
  /* height: 40px; */
  text-align: center;
  border-radius: .25em;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  /* font-family: sans-serif; */
  /* font-size: large; */
}

/* form.signup,
form.login {
  margin-top: 50px;
} */

body {
  background-color: #efeeee;
  width: 100vw;
  height: 100vh;
  padding: 0;
  overflow: scroll;
}

.wrapper {
  width: 100vw;
  margin: 0 auto;
  z-index: 10;
  position: absolute;

}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  /* box-shadow:1px 1px 50px rgb(0, 0, 0); */
  background-color: #f7df1e;
  min-height: 15%;
  max-height: 15%;
  border: 2px solid #f7f31e;
  overflow: hidden;
  padding: 10px;
}

.box {
  margin: 0 auto !important; 
  width: 100vw;
  padding: 10px 0;
  text-align: center;
  border-radius: 0px;
  border-bottom: 1px solid #565857;
  background-color: whitesmoke;
  box-shadow: inset 0px 0px 50px rgb(235, 228, 228);
  color: #323330;
}

ul {
  display: none;
}

li {
  /* border-top: 2px solid silver; */
  border-bottom: 1px solid #8A8D91;
  box-shadow: inset 0px 0px 50px rgba(148, 146, 146, 0.198);
  /* border-radius: .25em; */
  width: 100%;
  color: white;
  padding: 12px;
  background: rgb(88, 90, 84);
}

.boxOpen {
  height: 200px;
  transition: 5s;
}

.tray {
  width: 100vw;
  /* height: 6vw; */
  box-shadow:0px 10px 30px rgba(124, 124, 124, 0.199), inset 2px 2px 30px rgba(148, 146, 146, 0.198);
  background: white;
  display: flex;
  justify-content: center;
  padding: 7px;
  z-index: 11;
  /* position: fixed; */

  /* border: 1px solid black; */
}

.fa-angle-double-down{
  margin: 0 auto;
  /* transform: rotate(180deg); */
}

.fa-angle-double-down{
  margin: 0 auto;
  /* transform: rotate(180deg); */
}

/* Neu Content */

.logo {
  filter: drop-shadow(0px 0px 1px rgb(255, 217, 0)) drop-shadow(-5px -4px 5px #ffe600) drop-shadow(5px 4px 5px rgb(231, 170, 14));
  height: 100%;
  width: 100%;
}

.logo:active {
  transform: scale(.98);
  filter: drop-shadow(-0px -0px .0005em white) drop-shadow(1px -1px 2px rgba(211, 160, 30, 0.637));
}

.neuOne {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5% 0;
  width: 28px;
  min-width: 5em;
  /*max-width: 9em;*/
  /* padding: 3px; */
  min-height: 5em;
  /* max-height: 18px; */
  /*max-height: 9em;*/
  border: 2px solid rgba(255, 255, 255, 0.34);
  border-right-color: rgba(211, 159, 30, 0.287);
  border-bottom-color:  rgba(211, 160, 30, 0.287);
  border-radius: .5em;
  background: #f7df1e;
  box-shadow:  7px 2px 30px rgb(231, 170, 14),
               10px 20px 100px rgba(231, 170, 14, 0.219),
               -4px -5px 5px #ffff00,
               -20px -20px 60px #ffff239a;
  transition: .045s;
}

.neuOne:active {
  box-shadow:  -3px -1px 5px rgb(231, 170, 14),
               -4px -1px 60px rgba(231, 170, 14, 0.568),
               2px 3px 3px #ffff00,
               15px 15px 60px #ffff23ca,
               inset 2px 2px 15px rgba(231, 170, 14, 0.76),
               /* inset -10px -20px 100px rgba(231, 170, 14, 0.219), */
               inset -4px -5px 15px #ffff00;
               /* inset 20px 20px 60px #ffff239a; */
  transition: .045s;
}

footer {
  position: fixed;
  bottom: 0;
}

.navBtm {
  display: flex;
  justify-content: flex-start;
  width: 100vw;
  background-color: #f7df1e;
  border: 2px solid #f7f31e;
  padding: 10px;
  /* margin-top: 90px; */
}

.logtOutBtn {
  border-radius: .25em;
  width: 65px;
  height: 25px;
  font-size: 12px;
}

@media only screen and (min-width: 768px) {
  .containerTwo {
    /* flex-direction: row; */
  }

  .input {
    height: 50px;
  }

  .button {
    height: 50px;
  }

  #questionTitle {
    font-size: 50px;
  }

  #questionContent {
    font-size: 35px;
  }

  .neuOne {
    min-width: 8em;
    min-height: 8em;
  }

  .logtOutBtn {
    align-items: center;
    border-radius: .25em;
    width: 100px;
    /* height: 40px; */
    font-size: 20px;
  }
}

@media only screen and (min-width: 1024px) {
  .containerTwo {
    margin-top: 50px;
    padding: 50px 20px;
  }
}

@media only screen and (min-width: 1420px) {

.divider {
  width: 94.5vw;
  margin: 40px auto
}

#questionContent {
  margin: 60px 20px;
}
}