* {
    font-family: 'Quicksand', sans-serif;
}

body {
    background-color: rgb(253, 252, 252);
    padding: 10px;
}

h1, p, .subtitle {
    text-align: center;
}

.fa-door-open {
    margin-right: 5px;
}

.logout-button {
   width: 5%;
   align-self: flex-end;
   margin: 10px;
}

.hero {
    margin-bottom: 20px;
    border-radius: .25em;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.363);
}

.boxes {
    height: 180px;
    margin: 5px; 
    border-radius: .25em; 
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.363);
    display: flex;
    justify-content: center;
}

.boxes:active {
    border: solid 5px gray;
}

.html-box {
    background: linear-gradient(110deg, rgb(222,76,38), rgb(151, 46, 20)) ;
}

.html-logo {
    filter: drop-shadow(5px 5px 5px black);
    height: 180px;
    position: relative;
    transition: .35s ease-in-out;
}

.js-box {
    background: linear-gradient(70deg, rgb(185, 166, 36), rgb(240,219,79) 52%);
}

.js-logo {
    filter: drop-shadow(5px 5px 5px black);
    height: 175px;
    position: relative;
    top: 5px;
    transition: .35s ease-in-out;
}

.css-box {
    background: linear-gradient(110deg, #264de4,#142e97);
}

.css-logo {
    filter: drop-shadow(5px 5px 5px black);
    height: 160px;
    transition: .35s ease-in-out;
}

.css-logo:hover {
    height: 200px;
    filter: drop-shadow(15px 15px 11px rgb(0, 0, 0));
}

.js-logo:hover {
    height: 200px;
    filter: drop-shadow(5px 30px 11px rgb(0, 0, 0));
}

.html-logo:hover {
    height: 200px;
    filter: drop-shadow(-15px 15px 11px rgb(0, 0, 0));
}

.btn {
    background-color: rgb(173, 52, 22);
}

.axe {
    margin: 0 auto;
    width: 95%;
    filter: drop-shadow(1px 1px 1px white) drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.658));
}

.footer {
    width: 100%;
    height: 10px;
    border: 1px solid black;
}

@media only screen and (min-width: 768px) {
    
    .welcome {
        display: flex;
        flex-direction: column;  
        justify-content: flex-start;
        width: 400px;
    }

    .hero .is-large, .hero-body {
        padding-bottom: 5rem !important;
        padding-top: 1rem !important;
    }
    

    .axe {
        width: 30%;
    }

    .box-wrapper {
        display: flex;
        flex-direction: row;
    }

    .boxes {
        width: 33vw;
        min-height: 30vh;
        height: 49vh;
        display: flex;
        align-items: center;
    }

    .html-box {
        align-items: center;
    }

}

/* Login Styles */

.login-wrapper {
    height: 97vh;
    width: 95vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom left, rgba(245, 243, 243, 0.801) 40%, white 60%);
    box-shadow: 10px -10px 25px rgba(190, 189, 189, 0.644);
}

.form-wrapper {
    width: 100%;
    /* align-self: center; */
    height: 50%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-self: center;
    /* border-left: 1px solid black; */
    
}

.login-img {
    width: 100%;
    overflow: hidden;
    background-size: cover;
    border-radius: .25em;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    height: 100%;
    border-bottom: 5px solid silver;
    margin-bottom: 10px;;
}

.login-link {
    border: 2px solid black;
    /* width: 100%; */
}

.login-button {
    width: 25%;
    height: 50px;
    margin: 10px auto;
    margin-bottom: 20px;
}

.login-label {
    text-align: center;
    font-size: 15px;
}

.login-title {
    width: 100%;
    font-size: 20px;
}

.login {
    text-decoration: none;
    color: white;
}


@media only screen and (min-width: 1024px)  {
    .login-wrapper {
        height: 97vh;
        width: 95vw;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        background: linear-gradient(to bottom left, rgba(245, 243, 243, 0.801) 40%, white 60%);
        box-shadow: 10px -10px 25px rgba(190, 189, 189, 0.644);
    }

    form {
        width: 48.5%;
        display: flex;
        align-items: center;
    }

    .form-wrapper {
        width: 100%;
        /* align-self: center; */
        height: 50%;
        margin-left: 6%;
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
        align-self: center;
        /* border-left: 1px solid black; */
        
    }

    .login-img {
        width: 50%;
        overflow: hidden;
        background-size: cover;
        border-radius: .25em;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        height: 100%;
        border: none;
        border-right: 5px solid silver;
    }

    .login-btn {
        width: 35%;
        margin: 10px auto;
        margin-bottom: 20px;
        height: 11%;
    }

    .login-label {
        text-align: center;
        font-size: 20px;
    }

    .login-input {
        /* height: 20%; */
        padding: 25px;
    }

    .login-title {
        font-size: 30px;
    }

}